{% extends "layout.twig" %}

{% block content %}
    <h1>Home</h1>
    <section>
        {% for idArticle, article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <ul class="tags">
                    {% for idTag, tag in article.tags %}
                        {% if tag %}
                        <li>
                            <a href="{{ app.url_generator.generate('filterArticle', { idTag: idTag }) }}">
                                {{tag}}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p>
                    {{ article.body }}
                </p>
                <section class="commentSection">
                Commentaires:
                    <ul class="comments">
                        {% for comment in article.comments %}
                            {% if comment %}
                            <li>
                                    {{comment}}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% if user %}
                    Ajouter commentaire:
                    <form action="{{ app.url_generator.generate('home') }}" method="post">
                        <input type='hidden' name='idArticle' value="{{ idArticle }}" /> 
                        <textarea name="comment"></textarea>
                        <input type="submit" value="Envoyer">
                    </form>
                    {% endif %}
                </section>
                
                
            </article>
        {% endfor %}
    </section>
{% endblock %}
