<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{{ app.url_generator.generate('home') }}">Home</a>
                    </li>
                    {% if admin == 1 %}
                    <li>
                        <a href="{{ app.url_generator.generate('getAdminArticle') }}">Admin création article</a>
                    </li>
                    <li>
                        <a href="{{ app.url_generator.generate('getAdminTags') }}">Admin création tag</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <div>
            {% if user %}
                    <p>Bienvenue, {{ user.name }}</p>
            {% else  %}
                <a href="{{ app.url_generator.generate('login') }}">Login</a>
            {% endif %}
            </div>
        </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
        </div>
    </body>
</html>
